<div class="container">
  <div class="row">
    <%= render "/books/form", user: @user, new_book: @new_book %>
    <div class="col-md-8 py-3 ml-4 offset-md-1">
      <div class="p-3">
        <h2>Users</h2>
        <table class="table">
          <tbody>
            <tr>
              <th></th>
              <th>image</th>
              <th>name</th>
              <th>    </th>
            </tr>
            <% @users.each do |user| %>
              <tr>
                <td><%= image_tag user.get_profile_image(100, 100) %></td>
                <td><%= user.name %></td>
                <td><%= link_to "Show", user_path(user.id) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
