<h1>Users#show</h1>
<p><%= image_tag @user.get_profile_image(100, 100), class:"mt-3 rounded-circle"; %></p>
<p><strong>Name</strong><%= @user.name%></p>
<p><storng>Introduction</storng><%= @user.introduction%></p>
